<h2>Invoice rooms</h2>
<div>
  <label>Room owner:</label> <input [(ngModel)]="roomInfo.owner" />
  <button (click)="add(1, 1); reload()">
    Add
  </button>
</div>
<ul class="rooms">
  <li *ngFor="let room of rooms" (click)="onSelect(room)"
      [class.selected]="room === selectedRoom">
    <span>{{room.id}}</span>
    <span>{{room.owner}}</span>
    <span>{{room.guests}}</span>
    <span>{{room.area}}</span>
    <button class="delete"
            (click)="delete(room); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedRoom">
  <h2>
    {{selectedRoom.owner | uppercase}} {{selectedRoom.guests | uppercase}} {{selectedRoom.area | uppercase}} is current room
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
